.content {
    padding: 1rem;
    min-height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    .navbar-branch-button {
        height: 100%;
    }
    .navbar-button {
        height: 100%;
        margin-left: 2rem;
        .badge {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            border-radius: 0.5rem;
          }
          
          .label-warning[href],
          .badge-warning[href] {
            background-color: #c67605;
          }
          #lblCartCount {
              font-size: 0.75rem;
              background: #ff0000;
              color: #fff;
              padding: 0 0.5rem;
              vertical-align: top;
              margin-left: -0.5rem; 
          }
    }
}

.flex-stretch {
    flex: 1 0 auto;
}
