.content {
    padding: 1rem;
    min-height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    .navbar-branch-button {
        height: 100%;
    }
    .navbar-button {
        height: 100%;
        margin-left: 2rem;
    }
}

.flex-stretch {
    flex: 1 0 auto;
}
