

img {
    width: 10rem;
}

.card {
    justify-content: center;
    align-items: center;

    .card-footer {
        display: flex;
        .mat-mdc-card-content {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
}