::ng-deep {

  .dark-mode .mat-mdc-button.mat-mdc-button-base {
    height: inherit;
  }
}


.dark-mode {
  .product-button {
    height: inherit;
  }
}

.product-button {
  width: 100%;
  height: inherit;
  align-items: center;

  .card {
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 20rem;

    .product-image {
      margin-top: 0.5rem;
      max-width: 12rem;
      min-width: 12rem;

      min-height: 12rem;
      max-height: 12rem;
      border-radius: 0.5rem;
    }

    .product-title {
      max-width: 12rem;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .product-summary p {
      max-width: 12rem;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .card-footer {
      display: flex;

      .mat-mdc-card-content {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }
}