::ng-deep {

  .dark-mode .mat-mdc-button.mat-mdc-button-base {
    height: inherit;
  }
}

img {
  width: 10rem;
  border-radius: 0.5rem;
}

.dark-mode {
  .product-button {
    height: inherit;
  }
}

.product-button {
  width: 100%;
  height: inherit;
  align-items: center;

  .card {
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 20rem;

    .product-image {
      margin-top: 0.5rem;
    }

    .product-description {
      padding-top: 1rem;
    }

    .card-footer {
      display: flex;

      .mat-mdc-card-content {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }
}