::ng-deep {
    .mat-grid-tile-content {
        display: block;
    }
}


.grid-list {
    width: inherit;

    .grid-tile {
        .product-image {
            margin-left: 2rem;
            width: 32rem;
            height: 32rem;
            border-radius: 2rem;
        }

        .product-footer {
            justify-content: left;
            font-weight: bold;
            display: flex;
            .total-price {
                padding-left: 5rem;
            }
        }

        $color_1: #5f5fce;

        input {
            text-align: center;
            border: 1px solid #6C757D;
        }

        input[type="number"] {
            -webkit-appearance: textfield !important;
            -moz-appearance: textfield !important;
            appearance: textfield !important;
        }

        input[type=number] {
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }

            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
            }
        }

        .wrapper {
            border: 2px #dcd3d3 solid;
            width: 10rem;
            height: 50px;
            padding: 10px;
            display: flex;
            border-radius: 15px;
        }

        .plusminus {
            height: 100%;
            width: 30%;
            background: white;
            border: none;
            font-size: 40px;
            color: $color_1;
        }

        .num {
            height: 100%;
            width: 39%;
            border: none;
            font-size: 30px;
        }

    }
}