::ng-deep {
    .mat-grid-tile-content {
        display: block;
    }
}


.grid-list {
    width: inherit;

    .grid-tile {
        .product-image {
            margin-left: 2rem;
            width: 32rem;
            height: 32rem;
            border-radius: 2rem;
        }

        .product-footer {
            justify-content: center;
            font-weight: bold;
            display: block;

            .total-price {}

            input {
                text-align: center;
                border: 1px solid #6C757D;
            }

            input[type="number"] {
                -webkit-appearance: textfield !important;
                -moz-appearance: textfield !important;
                appearance: textfield !important;
            }

            input[type=number] {
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }

                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                }
            }

            .plusminus-wrapper {
                border: 2px #dcd3d3 solid;
                width: 10rem;
                height: 50px;
                padding: 10px;
                display: flex;
                border-radius: 15px;
                justify-content: center;
                align-items: center;

                .plusminus {
                    height: 100%;
                    width: 30%;
                    border: none;
                    font-size: 2rem;
                    color: var(--mdc-filled-button-label-text-color);
                }

                .num {
                    height: 100%;
                    width: 39%;
                    border: none;
                    font-size: 1.5rem;
                }
            }
        }

        .product-order {
            display: block;
            align-items: center;
            justify-content: center;
            .add-button {
                font-size: 1.5rem;
                width: 100%;
            }
        }
    }
}