
<mat-toolbar color="primary" class="navbar">
    <button class="navbar-branch-button" mat-button>
        <h1>Cay Bang Grocery</h1>
    </button>
    
    <button class="navbar-button" mat-button>Shopping List</button>
    <button class="navbar-button" mat-button>Cart</button>

    <div class="flex-stretch"></div>
    <mat-icon class="mr-8">brightness_5</mat-icon>
    <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
    </mat-slide-toggle>
    <mat-icon>bedtime</mat-icon>
</mat-toolbar>

<div class="content mat-app-background">
    <app-products></app-products>
</div>